
.button {

width: 258px;
height: 48px;
left: 67px;
top: 186px;
background: rgba(0, 0, 0, 0.4);
border: 2px solid #FFFFFF;
border-radius: 25px;
padding: 14px 35px;
color: #F3C653;

}

.button:hover,
.button:focus {
    background: #FFFFFF;
    border: 2px solid #F3C653;
}

.button-black {
    width: 236px;
    height: 48px;
    left: 76px;
    top: 444px;
    background: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    padding: 14px 65px;
    color: #F3C653;
}

.button-black:hover,
.button-black:focus {
    background: #FFFFFF;
    border: 2px solid #F3C653;
}

.button-accept {
    width: 434px;
    height: 65px;
    left: 73px;
    top: 653px;
    background: #000000;
    border: 1px solid #F3C653;
    border-radius: 25px;
    padding: 18px 38px;
    color: #FFFFFF;
}

.button-accept:hover,
.button-accept:focus {
    background: #FFFFFF;
    border: 2px solid #F3C653;
    color: #000000;
}

.button-modal {
    width: 592px;
        height: 64px;
        left: 64px;
        top: 843px;
    
        background: #000000;
        border: 1px solid #F3C653;
        border-radius: 2px;
        color: #fff;
        padding: 18px 117px;
}

.button-modal:hover,
.button-modal:focus {
    background: #F3C653;
    border: 1px solid #F3C653;
    color: #000000;
}

.button-mob {
    width: 384px;
        height: 64px;
        left: 73px;
        top: 1046px;
        background: #000000;
        border: 1px solid #F3C653;
        border-radius: 25px;
        color: #FFFFFF;
        padding: 20px 43px;
}

.button-mob:hover,
.button-mob:focus {
    background: #F3C653;
    border: 1px solid #F3C653;
    color: #000000;
}

.button-mob2 {
    width: 384px;
    height: 64px;
    left: 73px;
    top: 1046px;
    background: #000000;
    border: 1px solid #F3C653;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 20px 43px;
}

.button-mob2:hover,
.button-mob2:focus {
    background: #F3C653;
    border: 1px solid #F3C653;
    color: #000000;
}

